<% include ./partials/header %>

<h1>Home</h1>
<p><%=startingContent.substring(0,100)+" ..."%></p>

 <%posts.forEach(function(post){%>
<a href="/posts/<%=post.title %>"><h1><%=post.title%></h1></a>
<p><%=post.content.substring(0,100)+"..."%>
<a href="/posts/<%=post.title %>">Read more.</a>
</p>
<%}); %>

<% include ./partials/footer %>
